header {
   background-color: #479af3; /* foi pedido para colocar cores difertentes no "header", "body" e "footer"*/
}

body {
   background-color: #007bff;
   text-align: center; 
   color: white;
}

footer {
   background-color: aquamarine;
   color: black;
}

ul {
   text-align: left;
}

p {
   font-size: medium;
}

#foto_joao {
   width: 200px;
}

/* fiz também uma alteracao colocando as alterações de botão que estava pra cada um pra todos os "<a>" em um só*/

a {

   padding: 10px 20px;
   text-align: center;
   text-decoration: none;
   color: black;
   background-color: #007bff;
   border-radius: 10px;
   border: 1px solid black;

}

